body {
  background-color: #7b2eab;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: #000;
}

h1, h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

a {
  color: #fff;
  font-size: 25px;
}

li {
  font-size: 25px;
}

h2, h3 {
  color: #fff;
}

img {
  width: 400px;
}

p{
  font-size: 25px;
}